<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recipe">
        <activity
            android:name=".suyuk"
            android:exported="true" />
        <activity
            android:name=".meat_bowl"
            android:exported="true" />
        <activity
            android:name=".kimchi_jjigae"
            android:exported="true" />
        <activity
            android:name=".kimchi_rice"
            android:exported="true" />
        <activity
            android:name=".half_boiled"
            android:exported="true" />
        <activity
            android:name=".hard_boiled"
            android:exported="true" />
        <activity
            android:name=".fry"
            android:exported="true" />
        <activity
            android:name=".steam"
            android:exported="true" />
        <activity
            android:name=".blue_sapphire"
            android:exported="true" />
        <activity
            android:name=".hiball"
            android:exported="true" />
        <activity
            android:name=".dumpling_menu"
            android:exported="true" />
        <activity
            android:name=".egg_menu"
            android:exported="true" />
        <activity
            android:name=".kimchi_menu"
            android:exported="true" />
        <activity
            android:name=".meat_menu"
            android:exported="true" />
        <activity
            android:name=".ice_menu"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_ice_menu" />
        <activity android:name=".activity_meat_menu" />
        <activity android:name=".activity_kimchi_menu" />
        <activity android:name=".activity_egg_menu" />
        <activity android:name=".activity_dumpling_menu" />
        <activity android:name=".activity_hiball" />
        <activity android:name=".activity_blue_sapphire" />
        <activity android:name=".activity_steam" />
        <activity android:name=".activity_air_fryer" />
        <activity android:name=".activity_fry" />
        <activity android:name=".activity_hard_boiled" />
        <activity android:name=".activity_half_boiled" />
        <activity android:name=".activity_kimchi_rice" />
        <activity android:name=".activity_kimchi_jjigae" />
        <activity android:name=".activity_meat_bowl" />
        <activity android:name=".activity_suyuk" />
    </application>

</manifest>